body {
    margin: 0;
    background-color: rgba(246,248,249,255)
}

header {
    background-color: white;
    margin-bottom: 20px;
    margin-top: 0;
}
.logotext {
    font-size: 50px;
    margin: 0;
}

.buttons{
    background-color: white;
    padding-bottom: 0.3rem;
    padding-left: 4rem;
    padding-top: 0.5rem;
    margin-left: 7rem;
    margin-right: 7rem;
    margin-bottom: 0.15rem;
}

.firstbutton{
    color: white;
    background-color: rgba(71,173,241,255);
    border-style: solid;
}

.secondbutton {
    color: rgba(207,212,216,255);
    background-color: white;
    border-style: solid;
}

.tasks {
    background-color: white;
    color: rgba(68,72,81,255) ;
    margin-left: 7rem;
    margin-right: 7rem;
    padding-left: 4rem;
}
h2 {
    margin: 0;
}

.circle {
    display: inline-block;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    line-height: 1.1rem;
    text-align: center;
    font-size:0.7rem;
    margin-right: 0.5rem;
}
.red {
    border: 1.3px solid red;
    color: red;
}

.green {
    border: 1.3px solid lightgreen;
    color: lightgreen;
}
.taskstext {
    line-height: 1.8rem;
}
.badge {
  font-size: 0.5rem;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 12px;
  color: white;
}
.editorial {
    background-color: rgba(69,171,233,255);
}
.q1goals {
    background-color: rgba(156,114,228,255);
}
.recruiting{
    background-color: rgba(100,192,169,255);
}
.mobile {
    background-color: rgba(242,158,51,255);
}
.website {
    background-color: rgba(216,99,161,255);
}
.sales {
    background-color: rgba(176,201,38,255);
}
